#header {
    background-color: white;
    color: black;
    font-weight: bolder;

}

body {
    background-color: #548F66;
}

#headerContent {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

#heading {
    font-size: 2em;
}

.link {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}